body {
  margin: 0;
  padding: 2rem;
}

li {
  list-style: none;
  padding: 0 0.5rem;
}

header,
form,
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
}

.book {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.sectionOne,
.bookDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 20px;
}

.button {
  border: 1px solid #66f;
  border-radius: 8px;
  padding: 10px;
}

.book button {
  padding: 7px;
  color: #999;
  background-color: #5f5;
  border-radius: 10px;
}

.sectionTwo {
  padding-top: 50px;
}
